<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>User Login Page</title>	
	<style type="text/css">    
	</style>
</head>  
  
<body>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

        <p>User Login:</p>
        
	<div>
	<form action="{{ url_for('login') }}" method="post">
            <table border="1">
            <tr>
            <th>Username:</th>
            <td><input type="text" name="username"></input></td>
            </tr>
            <tr>
            <th>Password:</th>
            <td><input type="password" name="password"></input></td>
            </tr>            
            <tr><th></th>
            <td><input type="submit" value="Login"></input></td>
            </tr>
            </table>
        </form>
	</div>
	
</body>
</html>
